.instagram-logo {
    width: 175px; /* Adjust size for the Instagram logo */
    height: 70px; /* Maintain aspect ratio */
}

.signup-txt {
    color: #0095f6;
}

.forgot-pass-txt {
    color: #00376b; /* Changed color to #00376b */
    font-size: 16px; /* Increased font size */
}

.microsoft-store-logo {
    background-position: -132px -182px;
    height: 40px;
    width: 116px;
}

.google-store-logo {
    height: 42px;
    width: 130px;
}

.input-container {
    position: relative;
    margin-bottom: 1.5rem;
}

.input-label {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.2s ease all;
    color: grey; /* Grey color for the label */
    pointer-events: none;
    font-size: 16px; /* Default font size */
}

.input-field {
    width: 100%;
    padding: 10px 10px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
    font-size: 16px; /* Set font size to 16px */
    color: #333;
}

.input-field:focus {
    outline: none;
    border-color: #007bff;
}

.input-field:focus + .input-label,
.input-field:not(:placeholder-shown) + .input-label {
    top: 0;
    left: 10px;
    font-size: 12px; /* Smaller font size when floating */
    color: grey; /* Keep the label grey when floating */
}

.show-password {
    display: none;
    cursor: pointer;
    color: grey; /* Default color */
    position: absolute;
    right: 10px;
    top: 50%;
    font-size: 0.875rem;
    transform: translateY(-50%);
}

.show-password:hover {
    color: black; /* Color when hovered */
}

.relative {
    position: relative;
}

button {
    transition: background-color 0.3s ease;
}

button:disabled {
    background-color: #3a9bcf; /* Darker blue color when disabled */
    cursor: default; /* Default cursor when disabled */
}

#loginButton:disabled {
    background-color: #3a9bcf; /* Ensure the background color is set for the disabled state */
    cursor: default; /* Default cursor when disabled */
}

#error-message {
    display: none; /* Initially hidden */
}

#error-message.visible {
    display: block; /* Show when there's an error */
}

#loginButton {
    background-color: #007bff; /* Example color for enabled state */
    color: white; /* Text color */

}

#loginButton:hover {
    background-color: #0056b3; /* Darker shade on hover */
}